<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mvc3Futures" version="3.0.20105.0" targetFramework="net40" />
  <package id="MvcContrib.Mvc3.TestHelper-ci" version="3.0.100.0" targetFramework="net40" />
  <package id="MvcContrib.Mvc3-ci" version="3.0.100.0" targetFramework="net40" />
  <package id="NSubstitute" version="1.5.0.0" targetFramework="net40" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net40" />
  <package id="Shouldly" version="1.1.1.1" targetFramework="net40" />
</packages>