@{
    ViewBag.Title = "Profile - Select Avatar";
}

<h2>Avatar Selection</h2>
@foreach (var image in @ViewBag.AvatarList)
{
    <span class="image">
        <a href="/Profile/UpdateProfileAvatar?avatarName=@image.AvatarName">
            <img height="100" width="100" src="@image.FullPath" alt="@image.AvatarName"/>
        </a>
    </span>
}